<h1>Login</h1>

<form action="Usuario/Login" method="POST">
    <label>
        Email
        <input type="text" name="email" required="true">
    </label>

    <label>
        Senha
        <input type="text" name="senha" required="true">
    </label>

    <input type="submit" value="Login">
</form>